<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
	<hr>

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-primary btn-rounded" href="/admin/" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center"> Ajouter Chantier</h2>
			</div>
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li  class="active">
					<a href="/admin/">chantiers</a>
				</li>
				<li  class="active">
					<a href="#"><strong>Ajouter un chantier</strong></a>
				</li>
			</ol>
		</div>
	</div>
	<br>
	<div class="row">
	<div class="col-md-8 col-md-offset-2 shadow">
	<form class="form-horizontal" method="post" th:object="${chantier}" style="margin: 5%">

		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger offset-sm-2">
			<p th:text="#{formError}">Erreur</p>
		</div>

		<input type="hidden"
			   th:name="${_csrf.parameterName}"
			   th:value="${_csrf.token}"/>

		<div th:class="${#fields.hasErrors('nom')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="nom">Nom:</label>
			<div class="col-sm-10">
				<input id="nom" type="text" class="form-control" th:field="*{nom}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('nom')}">
					<ul>
						<li th:each="err : ${#fields.errors('nom')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('adresse')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="adresse">Adresse:</label>
			<div class="col-sm-10">
				<textarea id="adresse" class="form-control" th:field="*{adresse}"
						  th:errorclass="form-control-danger"></textarea>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('adresse')}">
					<ul>
						<li th:each="err : ${#fields.errors('adresse')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary btn-block">Ajouter</button>
			</div>
		</div>
	</form>
	</div>
	
	</div>
	

</div>
</body>
</html>