<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<div th:replace="fragments :: header"></div>
	<hr>
	<a class="btn btn-success btn-lg" th:href="@{'/admin/chantier/'+${idC}}"><i class="fa fa-arrow-left"></i> Retour à la liste des engins</a>
	<br>
	<form class="form-horizontal" method="post" th:object="${engin}" enctype="multipart/form-data" style="margin: 5%">

		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
			<p th:text="#{formError}">Erreur</p>
		</div>

		<div th:class="${#fields.hasErrors('marque')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="marque">La marque :</label>
			<div class="col-sm-10">
				<input id="marque" type="text" class="form-control" th:field="*{marque}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('marque')}">
					<ul>
						<li th:each="err : ${#fields.errors('marque')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('chauffeur')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="chauffeur">Le chauffeur:</label>
			<div class="col-sm-10">
				<input id="chauffeur" class="form-control" th:field="*{chauffeur}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('chauffeur')}">
					<ul>
						<li th:each="err : ${#fields.errors('chauffeur')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('annee')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="annee">L' année :</label>
			<div class="col-sm-10">
				<input id="annee" class="form-control" th:field="*{annee}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('annee')}">
					<ul>
						<li th:each="err : ${#fields.errors('annee')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('seuilP')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="seuilP">Seuil de production:</label>
			<div class="col-sm-10">
				<input id="seuilP" class="form-control" th:field="*{seuilP}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('seuilP')}">
					<ul>
						<li th:each="err : ${#fields.errors('seuilP')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('seuilR')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="seuilR">Seuil de ralentie :</label>
			<div class="col-sm-10">
				<input id="seuilR" class="form-control" th:field="*{seuilR}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('seuilR')}">
					<ul>
						<li th:each="err : ${#fields.errors('seuilR')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${#fields.hasErrors('temps')} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="temps">Le temps :</label>
			<div class="col-sm-10">
				<input id="temps" class="form-control" th:field="*{temps}" th:errorclass="form-control-danger"/>
				<div class="form-control-feedback" th:if="${#fields.hasErrors('temps')}">
					<ul>
						<li th:each="err : ${#fields.errors('temps')}" th:text="${err}" />
					</ul>
				</div>
			</div>
		</div>

		<div th:class="${fileError} ? 'form-group row has-danger' : 'form-group row'">
			<label class="col-sm-2 col-form-label" for="file">La photo :</label>
			<div class="col-sm-10">
				<label class="custom-file">
					<input type="file" id="file" name="file" accept="image/*" class="custom-file-input">
					<span class="custom-file-control"></span>
				</label>
				<div class="form-control-feedback" th:if="${fileError}">
					<p th:text="${fileError}"></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary btn-block">Ajouter</button>
			</div>
		</div>
	</form>

</div>
</body>
</html>