<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<h1>Ajouter un chantier</h1>

	<form class="form-horizontal" enctype="multipart/form-data" method="post" th:object="${engin}">

		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
			<p th:text="#{chantier.hasErrors}">Erreur</p>
			<ul>
				<li th:each="err : ${#fields.errors('marque')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('chauffeur')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('annee')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('seuilP')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('seuilR')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('intervale')}" th:text="${err}" />
			</ul>
			<ul>
				<li th:each="err : ${#fields.errors('temps')}" th:text="${err}" />
			</ul>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('marque')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Marque:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{marque}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('chauffeur')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Chauffeur:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{chauffeur}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('annee')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Annee:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{annee}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('seuilP')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Seuil du production:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{seuilP}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('seuilR')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Seuil de ralentie:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{seuilR}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('intervale')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Intervale :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{intervale}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group" th:class="${#fields.hasErrors('temps')} ? 'form-group has-error' : 'form-group'">
			<label class="col-sm-2 control-label">Temps :</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{temps}" th:errorclass="has-error"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Photo :</label>
			<div class="col-sm-10">
				<input type="file" name="file" />
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Ajouter</button>
		<a href="/admin/" class="btn btn-warning">Annuler</a>
	</form>

</div>
</body>
</html>