<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
	<br>
	<div class="row wrapper border-bottom  page-heading">
		<div class="col-sm-6">
			<br>
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-primary btn-rounded" href="/admin/" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="${chantier.nom}"></h2>
			</div>
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li  class="active">
					<a href="/admin/">chantiers</a>
				</li>
				<li  class="active">
					<strong>
						<a th:href="'/admin/chantier/'+${chantier.id}" th:text="${chantier.nom}"></a>
					</strong>
				</li>
			</ol>
		</div>
		
		<div class="col-md-6 pull-right">
			<br><br>
			<a class="btn btn-primary pull-right" th:href="@{'/admin/chantier/'+${chantier.id}+'/addEngin'}"><i
					class="fa fa-plus"></i> Ajouter un engin</a>
		</div>
	</div>
	<br>
	<br>
	<h3><i class="fa fa-list"></i> La liste des engins du chantier : <span th:text="${chantier.nom}"></span></h3>

<br>
	<div th:if="${chantier.engins}" >
		<div class="row text-center">
			<div class="col-sm-6 col-md-4" th:each="engin : ${chantier.engins}">
				<div class="ibox float-e-margins shadow" >
					<div class="ibox-title">
						<a class="label label-danger pull-right" data-toggle="modal" th:attr="data-target='#modal'+${engin.id}">
							<i class="fa fa-remove"></i>Supprimer
						</a>
						<h5 th:text="'Engin N° '+${engin.id}"></h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-10">
							<img class="card-img-top img-fluid" style="height: 200px;width: 330px;" 
							th:src="@{'/files/'+${engin.photo}}" th:alt="${engin.photo}"/>					
							</div>
							<div class="col-md-6">
							</div>
						</div>
						<div class="text-center">
								<br>
							<p th:text="'Chauffeur : '+${engin.chauffeur}"></p>
							<p th:text="'Marque : '+${engin.marque}"></p>
							<p th:text="'Année : '+${engin.annee}"></p>
						</div>
					</div>
				</div>

					<div class="modal fade" th:id="@{'modal'+${engin.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalLabel">Confirmer la suppression</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form method="post" th:action="@{'/admin/chantier/'+${engin.chantier.id}+'/delete/'+${engin.id}}">
									<input type="hidden"
										   th:name="${_csrf.parameterName}"
										   th:value="${_csrf.token}"/>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" name="deleteData">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Supprimer les données associées à cet engin ?</span>
									</label>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
										<input type="Submit" class="btn btn-danger" value="Supprimer" />
									</div>
								</form>
							</div>
						</div>
					</div>
				<br>
			</div>
		</div>
	</div>




</div>
<div th:replace="fragments :: footer"></div>

</body>
</html>