<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<img th:src="@{/img/header.png}">
	<h1>La liste des engins du chantier : <span th:text="${chantier.nom}"></span></h1>
	<div class="row" style="padding: 2%">
		<a th:href="@{'/admin/chantier/'+${chantier.id}+'/add'}" class="btn btn-primary col-sm-3">Ajouter un engin</a>
		<a href="/admin/" class="btn btn-warning col-sm-3">Liste des chantiers</a>
	</div>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Marque</th>
			<th>Chauffeur</th>
			<th>Année</th>
			<th>Seuil de production</th>
			<th>Seuil de ralentie</th>
			<th>intervale</th>
			<th>Temps d'envoie</th>
			<th>Supprimer</th>
		</tr>
		<tr th:each="engin : ${chantier.engins}">
			<td><img th:src="@{'/files/' + ${engin.photo}}" th:alt="${engin.photo}" width="75%"></td>
			<td th:text="${engin.marque}"></td>
			<td th:text="${engin.chauffeur}"></td>
			<td th:text="${engin.annee}"></td>
			<td th:text="${engin.seuilP}"></td>
			<td th:text="${engin.seuilR}"></td>
			<td th:text="${engin.intervale} + 's'"></td>
			<td th:text="${engin.temps} + 's'"></td>
			<td><a th:href="@{'/admin/chantier/'+${engin.chantier.id}+'/engin/' + ${engin.id} + '/delete'}">supp</a></td>
		</tr>
	</table>
</div>
</body>
</html>