<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: loader"></div>

<div th:replace="fragments :: header"></div>

<div class="container">

	<div class="row wrapper border-bottom  page-heading">
		<div class="col-sm-6">
			<br>
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li  class="active">
					<a href="/user/"><strong>chantiers</strong></a>
				</li>
			</ol>
		</div>
		<div th:replace="fragments :: choisirChantier"></div>


	</div>
	<div th:replace="fragments :: statsForm"></div>
	<br>
	<div th:if="${chantiersRendement}">

		<h2 class="resultat">
			<i class="fa fa-list"></i> Resultat de l'inspection <span th:if="${par}"> pour une semaine :</span> </h2><br>
		<div class="row text-center">
			<span id="list-size" th:text="${#lists.size(chantiersRendement)}" style="display:none"></span>
			<div class="col-sm-6 col-md-4" th:each="element,iter : ${chantiersRendement}">
				<div class="ibox float-e-margins animated">
					<div class="ibox-title">
						<h2 class="chantierNom" th:text="${element.get('chantier').nom}"></h2>
					</div>
					<div class="ibox-content">

						<div class="text-center">
							<div th:class="'progress-pie-chart pie-chart-'+${(iter.index)}" th:attr="data-percent=${element.get('rendement')}">
								<div class="ppc-progress">
									<div th:class="'ppc-progress-fill ppc-progress-fill-'+${(iter.index)}"></div>
								</div>
								<div class="ppc-percents">
									<div class="pcc-percents-wrapper">
										<span th:class="'ppc-percents-span-'+${(iter.index)}">%</span>
									</div>
								</div>
							</div>
						</div>
						<p class="card-text" style="color:white;padding: 5px 0">
							Contient
							<span class="text-warning" th:text="${#lists.size(element.get('chantier').engins)}">x</span>
							engins
						</p>
						<a class="btn btn-block btn btn-primary btn-block"
						   th:href="@{'/user/chantier/'+${element.get('chantier').id}+'/statistic'}">
							Voir les statistiques du chantier
						</a>
					
						<a  class="btn btn-success btn-block " th:href="@{'/user/chantier/'+${element.get('chantier').id}}">Voir la liste des engins</a>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>

</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: chart-plugin"></div>


</body>
</html>