<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<div th:replace="fragments :: header"></div>
	<div th:replace="fragments :: statsForm"></div>
	<br>

	<div th:if="${chantiersRendementWeek}">
		<h2><i class="fa fa-list"></i> Rendement de la semaine :</h2><br>
		<div class="row text-center">
			<div class="col-sm-6 col-md-4" th:each="element : ${chantiersRendementWeek}">
				<div class="card">
					<div class="card-header">
						<h2 th:text="${element.get('chantier').nom}"></h2>
					</div>
					<div class="card-block">
						<p th:text="${element.get('chantier').adresse}"></p>

						<!-- Insert pie chart here ( here is an example on how to get rendement value for this chantier)
						 th:text will print the text inside the span tag
						 if u want to get the value in an attribute (data for example), it's possible using th:attr -->
						rendement = <span th:text="${element.get('rendement')}"
										  th:attr="data=${element.get('rendement')}">this default text will be overwriten by th:text content</span>

					</div>
				</div>
				<br>
			</div>
		</div>
	</div>

	<div th:if="${chantiersRendement}">
		<h2><i class="fa fa-list"></i> Resultat de l'inspection :</h2><br>
		<div class="row text-center">
			<div class="col-sm-6 col-md-4" th:each="element : ${chantiersRendement}">
				<div class="card">
					<div class="card-header">
						<h2 th:text="${element.get('chantier').nom}"></h2>
					</div>
					<div class="card-block">
						<p th:text="${element.get('chantier').adresse}"></p>

						<!-- Insert pie chart here ( here is an example on how to get rendement value for this chantier)
						 th:text will print the text inside the span tag
						 if u want to get the value in an attribute (data for example), it's possible using th:attr -->
						rendement = <span th:text="${element.get('rendement')}"
										  th:attr="data=${element.get('rendement')}">this default text will be overwriten by th:text content</span>

					</div>
				</div>
				<br>
			</div>
		</div>
	</div>


</div>

</body>
</html>