<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: loader"></div>

<div id="comp">

	<div th:replace="fragments :: header"></div>
	<div class="container">
		<br>

		<div class="row wrapper border-bottom  page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-success btn-rounded" href="/user/" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="${chantier.nom}"></h2>
			</div>
			
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/user/">chantiers</a>
				</li>
				<li class="active">
					<strong th:text="${chantier.nom}"></strong>
				</li>
			</ol>
		</div>
			<div th:replace="fragments :: choisirChantierStatistic"></div>

		</div>
	<div th:replace="fragments :: statsForm"></div>
	<br>

	<div th:if="${chantierStatistics}">
		<h2 th:if="${semaine}"> Statistiques de la semaine (de 06 h jusqu'à 19 h , 1 heure de pause) :</h2>
		<h2 th:if="!${semaine}"> Resultat de l'inspection :</h2>
		<br>

		<!-- Bar chart goes here -->
		<div id="chart">
			<ul id="numbers">
				<li><span>100%</span></li>
				<li><span>90%</span></li>
				<li><span>80%</span></li>
				<li><span>70%</span></li>
				<li><span>60%</span></li>
				<li><span>50%</span></li>
				<li><span>40%</span></li>
				<li><span>30%</span></li>
				<li><span>20%</span></li>
				<li><span>10%</span></li>
				<li><span>0%</span></li>
			</ul>
			
			<ul id="bars">
				<li  th:each="statistica,iter : ${chantierStatistics}">
					<a th:href="@{'/user/chantier/' + ${chantier.id} + '/' + ${statistica.get('date')}}" >
						<div th:attr="data-percentage=${statistica.get('rendement')}" class="bar"></div>

					</a>
					<a th:href="@{'/user/chantier/' + ${chantier.id} + '/' + ${statistica.get('date')}}" >
						<span th:text="${statistica.get('date')}"></span>
					</a>
				</li>
			</ul>
		</div>
		<br><br><br>
		<table class="table table-striped tabla">
			<tr>
				<th>Le jour</th>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
				<th>Pause</th>
				<th>Rendement</th>
			</tr>
			<tr th:each="statistica : ${chantierStatistics}">
				<td>
					<a th:text="${statistica.get('date')}"
					   th:href="@{'/user/chantier/' + ${chantier.id} + '/' + ${statistica.get('date')}}"></a>
				</td>
				<td th:text="${statistica.get('production')}"></td>
				<td th:text="${statistica.get('ralenti')}"></td>
				<td th:text="${statistica.get('arret') }"></td>
				<td th:text="${statistica.get('pause') }"></td>
				<td th:text="${statistica.get('rendement') }+' %'"></td>
			</tr>
		</table>
	</div>

</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: chart-plugin"></div>

</div>
</body>
</html>