<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>


	<div th:replace="fragments :: header"></div>
	<div class="container">
	<hr>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-success btn-rounded" href="/user/" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="${chantier.nom}"></h2>
			</div>
			
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/user/">chantiers</a>
				</li>
				<li class="active">
					<strong th:text="${chantier.nom}"></strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-6">
			<br><br>
			<div class="btn-group pull-right">
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}+'/statistic'}">
					<i class="fa fa-bar-chart"></i> Semaine
				</a>
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}+'/statistic/twoWeeks'}">
					<i class="fa fa-bar-chart"></i> 15 Jours
				</a>
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}+'/statistic/month'}">
					<i class="fa fa-bar-chart"></i> Mois
				</a>
		</div>

		</div>
	</div>
	<br>
	<br>
	<div th:replace="fragments :: statsForm"></div>
	<br>

	<div th:if="${chantierStatistics}">
		<h2 th:if="${semaine}"> Statistiques de la semaine (de 06 h jusqu'à 19 h , 1 heure de pause) :</h2>
		<h2 th:if="!${semaine}"> Resultat de l'inspection :</h2>
		<br>

		<!-- Bar chart goes here -->


		<table class="table table-striped">
			<tr>
				<th>Le jour</th>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
				<th>Pause</th>
				<th>Rendement</th>
			</tr>
			<tr th:each="statistica : ${chantierStatistics}">
				<td>
					<a th:text="${statistica.get('date')}"
					   th:href="@{'/user/chantier/' + ${chantier.id} + '/' + ${statistica.get('date')}}"></a>
				</td>
				<td th:text="${statistica.get('production')}"></td>
				<td th:text="${statistica.get('ralenti')}"></td>
				<td th:text="${statistica.get('arret') }"></td>
				<td th:text="${statistica.get('pause') }"></td>
				<td th:text="${statistica.get('rendement') }"></td>
			</tr>
		</table>
	</div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>