<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<div th:replace="fragments :: header"></div>
	<hr>
	<h1 class="text-center" th:text="'Chantier : '+${chantier.nom}"></h1>
	<br>
	<a class="btn btn-success btn-lg" th:href="@{'/user/chantier/'+${chantier.id}}">
		<i class="fa fa-arrow-left"></i> Retour
	</a>
	<br><br>
	<h2> Statistiques du jour <span th:text="${date}"></span>:</h2>
	<br>


	<!-- bar chart goes here -->


	<table class="table table-striped">
		<tr>
			<th>L'heure</th>
			<th>Temps de production</th>
			<th>Temps de ralenti</th>
			<th>Temps d'arret</th>
			<th>Rendement</th>
		</tr>
		<tr th:each="statistica : ${chantierStatisticDay}">
			<td><a th:text="${statistica.get('date')}"></a></td>

			<td th:text="${statistica.get('production')}"></td>
			<td th:text="${statistica.get('ralenti')}"></td>
			<td th:text="${statistica.get('arret') }"></td>
			<td th:text="${statistica.get('rendement') }"></td>
		</tr>
	</table>
</div>

</body>
</html>