<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<hr>
	<a class="btn btn-primary btn-lg" href="/user/"><i class="fa fa-arrow-left"></i> Retour à la liste des
		chantiers</a>
	<br>
	<br>
	<div style="background-color: antiquewhite;padding: 2%">
		<form method="post" class="form-horizontal" th:object="${statistic}">
			<div>
				<div class="form-group form-group-sm row d-inline-block ">
					<label class="control-label col-sm-2 requiredField" for="dayFrom">
						De
					</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" id="dayFrom" th:field="*{dayFrom}" placeholder="jj/mm/aaaa"
								   type="text" required/>

						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row d-inline-block ">
					<label class="control-label col-sm-2 requiredField" for="dayTo">
						Jusqu'à
					</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" id="dayTo" th:field="*{dayTo}" placeholder="jj/mm/aaaa"
								   type="text" required/>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group form-group-sm row d-inline-block">
					<label class="control-label col-sm-2 requiredField" for="hourFrom">
						Entre
					</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" id="hourFrom" th:field="*{hourFrom}" placeholder="hh:mm"
								   type="text" required/>
						</div>
					</div>
				</div>
				<div class="form-group form-group-sm row d-inline-block">
					<label class="control-label col-sm-2 requiredField" for="hourTo">
						Et
					</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" id="hourTo" th:field="*{hourTo}" placeholder="hh:mm"
								   type="text" required/>
						</div>
					</div>
				</div>
				<div class="form-group form-group-sm row d-inline-block">
					<label class="control-label col-sm-14 requiredField" for="nbHourRepos">
						Nombre d'heures de repos :
					</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" id="nbHourRepos" th:field="*{nbHourRepos}" placeholder="1"
								   type="number" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10 col-sm-offset-2">
					<button class="btn btn-success btn-sm outline" name="submit" type="submit">
						Inspecter
					</button>
				</div>
			</div>

		</form>

	</div>

	<div style="background-color: antiquewhite;padding: 2%" th:if="${enginsRendementWeek}">

		<div class="row text-center">
			<div class=" col-sm-4" th:each="ch : ${enginsRendementWeek}">
				<div class="card text-center">
					<div class="card-header">
						<div class="row">
							<a th:href="@{'/user/chantier/' + ${ch.get('engin').chantier.id} +'/engin/' + ${ch.get('engin').id} }"><h2  class="col-sm-10"  th:text="${ch.get('engin').marque}"</h2></a>


						</div>
					</div>

					<div class="card-block" style="margin: 5%">
						<p class="card-title" style="margin-top: 10px" th:text="${ch.get('engin').chauffeur}">Addresse fedskmfsrgdvxcrdfvxcdgfvcgrwfxvbdfdlj grfdlkjnn</p>
					</div>
					<a th:href="@{'/user/chantier/' + ${ch.get('engin').chantier.id} +'/engin/' + ${ch.get('engin').id} }"> <img th:src="@{'/files/' +${ch.get('engin').photo} }" th:alt="${ch.get('engin').photo}" width="76%"></a>
					<div class="card-header">
						<div class="row">
							<h2 th:text="${ch.get('rendement')}" class="col-sm-10"> </h2>
						</div>
					</div>

				</div>
				<br>
			</div>
		</div>
	</div>

</div>

</body>
</html>