<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<h1>Engin N° <span th:text="${engin.id}"></span></h1>
	<a th:href="@{'/user/chantier/'+${engin.chantier.id}}" class="btn btn-warning" style="margin: 1%">Retour au
		chantier</a>
	<div style="background-color: antiquewhite;padding: 2%">
		<form method="post" class="form-horizontal" th:object="${statistic}">
			<div >
			<div class="form-group form-group-sm row d-inline-block ">
				<label class="control-label col-sm-2 requiredField" for="dayFrom">
					De
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="dayFrom" th:field="*{dayFrom}" placeholder="jj/mm/aaaa"
							   type="text" required/>

					</div>
				</div>
			</div>

			<div class="form-group form-group-sm row d-inline-block ">
				<label class="control-label col-sm-2 requiredField" for="dayTo">
					Jusqu'à
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="dayTo" th:field="*{dayTo}" placeholder="jj/mm/aaaa"
							   type="text" required/>
					</div>
				</div>
			</div>
			</div>
			<div >
			<div class="form-group form-group-sm row d-inline-block">
				<label class="control-label col-sm-2 requiredField" for="hourFrom">
					Entre
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="hourFrom" th:field="*{hourFrom}" placeholder="hh:mm"
							   type="text" required/>
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm row d-inline-block">
				<label class="control-label col-sm-2 requiredField" for="hourTo">
					Et
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="hourTo" th:field="*{hourTo}" placeholder="hh:mm"
							   type="text" required/>
					</div>
				</div>
			</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10 col-sm-offset-2">
					<button class="btn btn-success btn-sm outline" name="submit" type="submit">
						Inspecter
					</button>
				</div>
			</div>

		</form>


	</div>

	<table class="table table-striped" th:if="${statisticos}">
		<tr>
			<th>Temps de production</th>
			<th>Temps de ralenti</th>
			<th>Temps d'arret</th>
		</tr>
		<tr th:each="statistica : ${statisticos}">
			<td th:text="${statistica.get('production')}"> </td>
			<td th:text="${statistica.get('ralenti')}"></td>
			<td th:text="${statistica.get('arret') }"></td>
		</tr>
	</table>

	<hr>
	<div class="row jumbotron">
		<div class="col-sm-6">Numero d'engin :</div>
		<div class="col-sm-6" th:text="${engin.id}"></div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-6">Image :</div>
		<div class="col-sm-6">
			<img th:src="@{'/files/' + ${engin.photo}}" th:alt="${engin.photo}" width="50%">
		</div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-6">Marque :</div>
		<div class="col-sm-6" th:text="${engin.marque}"></div>
	</div>
	<div class="row jumbotron">
		<div class="col-sm-6">Chauffeur :</div>
		<div class="col-sm-6" th:text="${engin.chauffeur}"></div>
	</div>
</div>
</body>
</html>