<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-success btn-rounded" th:href="@{'/user/chantier/'+${engin.chantier.id}}" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="Engin N° '+${engin.id}"></h2>
			</div>
			
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/user/">chantiers</a>
				</li>
				<li>
					<a th:href="@{'/user/chantier/'+${engin.chantier.id}}">chantier name</a>
				</li>
				<li class="active">
					<strong th:text="'Engin N° '+${engin.id}">Engine</strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-6"></div>
	</div>
	<br><br>
	<h2> Statistiques du jour <span th:text="${date}"></span>:</h2>
	<br>


	<!-- bar chart goes here -->


	<table class="table table-striped">
		<tr>
			<th>L'heure</th>
			<th>Temps de production</th>
			<th>Temps de ralenti</th>
			<th>Temps d'arret</th>
			<th>Rendement</th>
		</tr>
		<tr th:each="statistica : ${enginStatisticDay}">
			<td><a th:text="${statistica.get('date')}"></a></td>
			<td th:text="${statistica.get('production')}"></td>
			<td th:text="${statistica.get('ralenti')}"></td>
			<td th:text="${statistica.get('arret') }"></td>
			<td th:text="${statistica.get('rendement') }"></td>
		</tr>
	</table>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>