<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<a href="/user/" class="btn btn-warning" style="margin: 1%">Retour à  la liste des chantiers</a>
	<div style="background-color: antiquewhite;padding: 2%">
		<form method="post" class="form-horizontal" th:object="${statistic}">

			<div class="form-group form-group-sm row" >
				<label class="control-label col-sm-2 requiredField" for="dateFrom">
					De :
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="dateFrom" th:field="*{dateFrom}" placeholder="jj/mm/aaaa hh:mm"
							   type="text" required/>
					</div>
				</div>
			</div>


			<div class="form-group form-group-sm row">
				<label class="control-label col-sm-2 requiredField" for="dateTo">
					Jusqu'à
				</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input class="form-control" id="dateTo" th:field="*{dateTo}" placeholder="jj/mm/aaaa hh:mm"
								type="text" required/>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10 col-sm-offset-2">
					<button class="btn btn-success btn-sm outline" name="submit" type="submit">
						Inspecter
					</button>
				</div>
			</div>

		</form>

		<table class="table table-striped" th:if="${statistics}">
			<tr>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
			</tr>
			<tr>
				<td th:text="${statistics.get('production')}"> </td>
				<td th:text="${statistics.get('ralenti')}"></td>
				<td th:text="${statistics.get('arret') }"></td>
			</tr>
		</table>
		<div class="row" th:if="${statistics}">
			<div id="chart" class="col-sm-8">
				<ul id="numbers">
					<li><span>100%</span></li>
					<li><span>90%</span></li>
					<li><span>80%</span></li>
					<li><span>70%</span></li>
					<li><span>60%</span></li>
					<li><span>50%</span></li>
					<li><span>40%</span></li>
					<li><span>30%</span></li>
					<li><span>20%</span></li>
					<li><span>10%</span></li>
					<li><span>0%</span></li>
				</ul>
				<ul class="bars">
					<li><div th:attr="data-percentage=${statistics.get('productionPercent')}" class="bar"></div><span>% Production</span></li>
					<li><div th:attr="data-percentage=${statistics.get('ralentiPercent')}" class="bar"></div><span>% Ralentie</span></li>
					<li><div th:attr="data-percentage=${statistics.get('arretPercent')}" class="bar"></div><span>% Arret</span></li>
				</ul>
			</div>
			<div class=" col-sm-4" style="margin-top: 100px;padding-left: 100px">
				<div class="circle-graph" th:attr="data-percent=${statisticsWeek.get('rendement')}"></div>
				<p th:text="'Rendement : '+${statisticsWeek.get('rendement')}+'%'">Rendement</p>
			</div>
		</div>
		<br><hr>

		<h3>Statistiques de la semaine :</h3>
		<table class="table table-striped">
			<tr>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
			</tr>
			<tr>
				<td th:text="${statisticsWeek.get('production')}"> </td>
				<td th:text="${statisticsWeek.get('ralenti')}"></td>
				<td th:text="${statisticsWeek.get('arret') }"></td>
			</tr>
		</table>
		<div class="row">
		<div id="chart">
				<ul id="numbers">
					<li><span>100%</span></li>
					<li><span>90%</span></li>
					<li><span>80%</span></li>
					<li><span>70%</span></li>
					<li><span>60%</span></li>
					<li><span>50%</span></li>
					<li><span>40%</span></li>
					<li><span>30%</span></li>
					<li><span>20%</span></li>
					<li><span>10%</span></li>
					<li><span>0%</span></li>
				</ul>
				<ul class="bars">
					<li><div th:attr="data-percentage=${statisticsWeek.get('productionPercent')}" class="bar"></div><span>% Production</span></li>
					<li><div th:attr="data-percentage=${statisticsWeek.get('ralentiPercent')}" class="bar"></div><span>% Ralentie</span></li>
					<li><div th:attr="data-percentage=${statisticsWeek.get('arretPercent')}" class="bar"></div><span>% Arret</span></li>
				</ul>
			</div>
			<div class=" col-sm-4" style="margin-top: 100px;padding-left: 100px">
				<div class="circle-graph" th:attr="data-percent=${statisticsWeek.get('rendement')}"></div>
				<p th:text="'Rendement : '+${statisticsWeek.get('rendement')}+'%'">Rendement</p>
			</div>
		</div>
		<br>
	</div>

	<br>
	<h1>La liste des engins du chantier : <span th:text="${chantier.nom}"></span></h1>

	<table class="table table-striped">
		<tr>
			<th>Photo</th>
			<th>Numero</th>
			<th>Marque</th>
			<th>Chauffeur</th>
			<th>Inspecter</th>
		</tr>
		<tr th:each="engin : ${engins}">
			<td><img th:src="@{'/files/' + ${engin.photo}}" th:alt="${engin.photo}" width="35%"></td>
			<td th:text="${engin.id}"></td>
			<td th:text="${engin.marque}"></td>
			<td th:text="${engin.chauffeur}"></td>
			<td><a th:text="Acceder" th:href="@{'/user/chantier/' + ${chantier.id} +'/engin/'+ ${engin.id}}"></a></td>
		</tr>
	</table>

</div>

</body>
</html>