<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
	<br>
	<div class="row wrapper border-bottom page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-success btn-rounded" href="/user/" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="${chantier.nom}"></h2>
			</div>
			
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/user/">chantiers</a>
				</li>
				<li class="active">
					<strong th:text="${chantier.nom}"></strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-6">
			<br><br>
			<div class="btn-group pull-right">
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}}">
					<i class="fa fa-bar-chart"></i> Semaine
				</a>
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}+'/twoWeeks'}">
					<i class="fa fa-bar-chart"></i> 15 Jours
				</a>
				<a class="btn btn-secondary" th:href="@{'/user/chantier/'+${chantier.id}+'/month'}">
					<i class="fa fa-bar-chart"></i> Mois
				</a>

				<a class="btn btn-secondary" href="#" onclick="showDiv()">
					<i class="fa fa-bar-chart"></i> Choisir
				</a>

			</div>
		</div>
	</div>
	<div th:replace="fragments :: statsForm"></div>
	<br>



	<div th:if="${enginsRendement}" >
		<div class="row text-center">
			<span id="list-size" th:text="${#lists.size(enginsRendement)}" style="display:none"></span>
			<div class="col-sm-6 col-md-4" th:each="element,iter : ${enginsRendement}">

				<div class="ibox float-e-margins shadow" >
					<div class="ibox-title">
						<a class="label label-primary pull-right"
						th:href="@{'/user/chantier/'+${element.get('engin').chantier.id}+'/engin/'+${element.get('engin').id}}">
							statistic
						</a>
						<h5 th:text="'Engin N° '+${element.get('engin').id}"></h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-6">
							<img class="card-img-top img-fluid" style="height:150px;width: 180px;" th:src="@{'/files/'+${element.get('engin').photo}}"
								 th:alt="${element.get('engin').photo}"/>					
						</div>
						<div class="col-md-6">
							<br>
							<p th:text="'Chauffeur : '+${element.get('engin').chauffeur}"></p>
							<p th:text="'Marque : '+${element.get('engin').marque}"></p>
							<p th:text="'Année : '+${element.get('engin').annee}"></p>
						</div>
						</div>
						<div class="text-center">
							<div th:class="'progress-pie-chart pie-chart-'+${(iter.index)}"
							 th:attr="data-percent=${element.get('rendement')}" style="margin-top: 0px;">
								<div class="ppc-progress">
									<div th:class="'ppc-progress-fill ppc-progress-fill-'+${(iter.index)}"></div>
								</div>
								<div class="ppc-percents">
									<div class="pcc-percents-wrapper">
										<span th:class="'ppc-percents-span-'+${(iter.index)}">%</span>
									</div>
								</div>
							</div>
						</div>
						<br>
						<a class="btn btn-block btn btn-primary btn-block" th:href="@{'/user/chantier/'+${element.get('engin').chantier.id}+'/engin/'+${element.get('engin').id}}">

							Voir les statistiques de l'engin
						</a>

					</div>
				</div>
				<br>
			</div>
		</div>
	</div>

</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: chart-plugin"></div>

</body>
</html>