<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: header"></div>
<div class="container">
	<br>
	<div class="row wrapper border-bottom  page-heading">
		<div class="col-sm-6">
			<div style="display: -webkit-inline-box;">
				<a class="btn btn-success btn-rounded" th:href="@{'/user/chantier/'+${engin.chantier.id}}" style="margin-top:30%;"><i class="fa fa-reply"></i></a>
				<h2 class="text-center" th:text="${engin.chauffeur}"></h2>
			</div>
			
			<ol class="breadcrumb">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/user/">chantiers</a>
				</li>
				<li>
					<a th:href="@{'/user/chantier/'+${engin.chantier.id}}" th:text="${engin.chantier.nom}"></a>
				</li>
				<li class="active">
					<strong ></strong>
				</li>
			</ol>
		</div>
		<div th:replace="fragments :: choisirEnginStatistic"></div>

	</div>
	<div th:replace="fragments :: statsForm"></div>
	
	<div id="chart">
			<ul id="numbers">
				<li><span>100%</span></li>
				<li><span>90%</span></li>
				<li><span>80%</span></li>
				<li><span>70%</span></li>
				<li><span>60%</span></li>
				<li><span>50%</span></li>
				<li><span>40%</span></li>
				<li><span>30%</span></li>
				<li><span>20%</span></li>
				<li><span>10%</span></li>
				<li><span>0%</span></li>
			</ul>
			
			<ul id="bars">
				<li  th:each="statistica,iter : ${enginStatistics}">
					<a  th:href="@{'/user/chantier/' + ${engin.chantier.id} +'/engin/'+ ${engin.id} + '/' + ${statistica.get('date')}}">
						<div th:attr="data-percentage=${statistica.get('rendement')}" class="bar"></div>

					</a>
					<a  th:href="@{'/user/chantier/' + ${engin.chantier.id} +'/engin/'+ ${engin.id} + '/' + ${statistica.get('date')}}">
						<span th:text="${statistica.get('date')}"></span>
					</a>

				</li>
			</ul>
		</div>
		<br><br><br>
	<div th:if="${enginStatistics}">
		<h2 th:if="${semaine}"> Statistiques de la semaine :</h2>
		<h2 th:if="!${semaine}"> Resultat de l'inspection :</h2>

		<!-- Bar chart goes here -->

		<table class="table table-striped tabla">
			<tr >
				<th>Le jour</th>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
				<th>Rendement</th>
			</tr>
			<tr th:each="statistica : ${enginStatistics}">
				<td>
					<a th:text="${statistica.get('date')}"
					   th:href="@{'/user/chantier/' + ${engin.chantier.id} +'/engin/'+ ${engin.id} + '/' + ${statistica.get('date')}}">
					</a>
				</td>
				<td th:text="${statistica.get('production')}"></td>
				<td th:text="${statistica.get('ralenti')}"></td>
				<td th:text="${statistica.get('arret') }"></td>
				<td th:text="${statistica.get('rendement') }+' %'"></td>
			</tr>
		</table>
	</div>
</div>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: chart-plugin"></div>

</body>
</html>