<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<form method="post" class="form-horizontal" th:object="${statistic}">

		<div class="form-group form-group-sm" >
			<label class="control-label col-sm-2 requiredField" for="date2">
				De :

			</label>
			<div class="col-sm-10">
				<div class="input-group">
					<input class="form-control" id="date1" th:field="*{dateFrom}" placeholder="Date From"
						   type="date"/>
					<div class="input-group-addon">
						<i class="fa fa-calendar-check-o">
						</i>
					</div>
				</div>
			</div>
		</div>


		<div class="form-group form-group-sm">
			<label class="control-label col-sm-2 requiredField" for="date2">
				Jusqu'à

			</label>
			<div class="col-sm-10">
				<div class="input-group">
					<input class="form-control" id="date2" th:field="*{dateTo}" placeholder="Date From"
						    type="date"/>
					<div class="input-group-addon">
						<i class="fa fa-calendar-check-o">
						</i>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<button class="btn btn-success btn-sm outline" name="submit" type="submit">
					Inspecter
				</button>
			</div>
		</div>

	</form>

	<h1>Liste des engins :</h1>

	<table class="table table-stripped">
		<tr>
			<th>Marque</th>
			<th>Chauffeur</th>
			<th>Photo</th>
			<th>Inspecter</th>
		</tr>
		<tr th:each="engin : ${engins}">
			<td th:text="${engin.marque}"></td>
			<td th:text="${engin.chauffeur}"></td>
			<td><img th:src="@{${engin.photo}}"></td>
			<td><a th:text="Acceder" th:href="@{'/user/chantier/' + ${chantier.id} +'/engin/'+ ${engin.id}}"></a></td>
		</tr>
	</table>

</div>

</body>
</html>