<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div class="container">
	<div th:replace="fragments :: header"></div>
	<hr>
	<a class="btn btn-success btn-lg" th:href="@{'/user/chantier/'+${engin.chantier.id}}">
		<i class="fa fa-arrow-left"></i> Retour à la liste des chantiers
	</a>
	<br><br>
	<div th:replace="fragments :: statsForm"></div>

	<br>
	<div th:if="${enginStatistics}">
		<h2 th:if="${semaine}"> Statistiques de la semaine :</h2>
		<h2 th:if="!${semaine}"> Rsultat de l'inspection :</h2>

		<!-- Bar chart goes here -->

		<table class="table table-striped">
			<tr>
				<th>Le jour</th>
				<th>Temps de production</th>
				<th>Temps de ralenti</th>
				<th>Temps d'arret</th>
				<th>Pause</th>
				<th>Rendement</th>
			</tr>
			<tr th:each="statistica : ${enginStatistics}">
				<td>
					<a th:text="${statistica.get('date')}"
					   th:href="@{'/user/chantier/' + ${engin.chantier.id} +'/engin/'+ ${engin.id} + '/' + ${statistica.get('date')}}">
					</a>
				</td>
				<td th:text="${statistica.get('production')}"></td>
				<td th:text="${statistica.get('ralenti')}"></td>
				<td th:text="${statistica.get('arret') }"></td>
				<td th:text="${statistica.get('pause') }"></td>
				<td th:text="${statistica.get('rendement') }"></td>
			</tr>
		</table>
	</div>
</div>

</body>
</html>