<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<img th:src="@{/img/header.png}" width="100%">
	<h1>Statistiques du Chantier :</h1>



	<table class="table table-stripped">
		<tr>
			<th>Temps d'arret</th>
			<th>Temps de production</th>
			<th>Temps de ralenti</th>

		</tr>
		<tr>
			<td th:text="${statistics.get('production')}"> </td>
			<td th:text="${statistics.get('ralenti')}"></td>
			<td th:text="${statistics.get('arret')}"></td>
		</tr>
	</table>
</div>
</body>
</html>