<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>>
	<div th:replace="fragments :: header"></div>
	<hr>
	<div class="middle-box text-center animated fadeInDown">
		<h1>401</h1>
		<h3>Page Not Found</h3>
		<div class="error-desc">
            
		<p>Vous avez essaier d'accéder à une page introuvable</p>
		<p>Veuillez verifier le lien de la page.</p>
		 <br/><a href="/" class="btn btn-primary m-t">Retourner à la page d'aceuil</a>
        </div>
	</div>
</body>
</html>