<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
	<div th:replace="fragments :: header"></div>
	<hr>
	<div class="middle-box text-center animated fadeInDown">
		<h1>Oops !</h1>
		<div class="error-desc"> 
			<p th:text="@{'Operation echouée pour le lien '+${url}}"></p>
			<p th:text="@{'Message : '+${exception.message}}"></p>
			<a href="/" class="btn btn-danger">Retourner à la page d'aceuil</a>
		</div>
	</div>
</body>
</html>