.login-logo{
    width:50%;
}
.navbar{
    border-bottom: 1px solid #0083ff;
}
.stats-forms{
    background-color: #FFF ;
    border-radius: 3px;
    padding: 2%;
    margin:0% 20%;
    box-shadow: 0 0 10px grey;

}
hr{
    color: #2f4050;
}
.dates-btn-groupes{
    margin: 0 !important;
    margin-bottom: 5px;
}
.shadow{
    style=border: solid 0px #636363;box-shadow: 0 0 10px black;
}
