body{
    background-image:url("/img/backGround.png");

}

.loginDiv{
    width :70%;
    margin-left:15%;
    margin-top:10%;
}

.resultat{
    color :White;
}

.titleEngin{
        background-color:rgba(102,102,102,0.9);
        box-shadow: 0 0 10px grey;
        color:black;

}
.logoTa3na{
    margin-bottom:30px;
}

.login-logo{
    width:50%;
}
.TitleLogin{
    color :white ;
    font :bold;
}

.buttonLogin{
    color: Black;
}
.navbar{
    border-bottom: 4.5px solid #1ab394;
}
.stats-forms{
    background-color:rgba(192,192,192,0.7);
    color:black;
    border-radius: 3px;
    padding: 2%;
    margin: 2% 15% 0;
    box-shadow: 0 0 10px grey;
    display:none;
}
.stats-label{
	margin-top: 2%;
}
hr{
    color: #2f4050;
}
.dates-btn-groupes{
    margin: 0 !important;
    margin-bottom: 5px;
}

/*Bar Chart*/
#chart {
  color : white;
  width: 1050px;
  height: 350px;
  margin: 30px auto 0;
  display: block;

}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  position: relative;
  bottom: 15px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: rgba(192,192,192,0.2);
  width: 1000px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 0.2px #444;
}
#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 60%;
  margin-left: 15px;
  left: -10px;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: #fff;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 2em;
    transform: rotate(90deg);
    transform-origin: left top 0;
    }
.shadow{
    border: solid 0px #636363;box-shadow: 0 0 10px black;
}
.nav-bg{
    background-color:rgba(102,102,102,0.3);
    color: white;
}
.tabla{
    background : lightgrey;
    color : black;
}

.nonButton{

    background : none;
}
.ouiButton{

    background-color:rgba(102,102,102,0.3);
    color: white;
}

.inspercterButt{
    margin-left:30%;
    width :60%;
    background-color:rgba(1,1,1,0.3);
    color: white;

}


@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
.loader {
   position: fixed;
   	left: 0px;
   	top: 0px;
   	width: 100%;
   	height: 100%;

   	background: url('https://media.giphy.com/media/i3pHUtmHiLd28/giphy.gif') rgba(102,102,102,0.7);

}