<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title th:text="${title}">Title</title>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</head>

<body>
	<div th:fragment="header">
		<img th:src="@{/img/header.png}" width="100%">
	</div>
</body>
</html>