<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title th:text="${title}">Title</title>

	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1//js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</head>

<body>
	<div th:fragment="header">
		<img th:src="@{/img/header.png}" class="img-fluid" width="100%">
		<div class="row" sec:authorize="isAuthenticated()">
			<div class="mr-auto">
				<a href="/" class="btn btn-secondary">Aceuil</a>
			</div>
			<div class="ml-auto btn btn-link">
				<div class="row">
					<p class="col">
						<i class="fa fa-user"></i> <span sec:authentication="name"></span>
					</p>
					<p class="col"><span sec:authentication="authorities"></span></p>
				</div>
			</div>
			<div class="ml-auto">
				<form th:action="@{/logout}" method="post">
					<button type="submit" class="btn btn-secondary">
						Se déconnécter <i class="fa fa-sign-out"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>